


$fontfamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

@mixin h1font {
    font-family: $fontfamily;
    font-size:67px ;
    line-height: 96px;
    letter-spacing: 1%;
    font-weight: bold;
  
}


@mixin h2font {
    font-family: $fontfamily;
    font-size:51px ;
    line-height: 72px;
    letter-spacing: 2%;
    font-weight: bold;
    text-transform: lowercase;
}


@mixin h3font {
    font-family: $fontfamily;
    font-size:38x ;
    line-height:48px;
    letter-spacing: 2%;
    font-weight: bold;
}

     @mixin extrafont {
     font-family: $fontfamily;
    font-size:43px;
    line-height:47.5px;
    letter-spacing: 0%;
    font-weight: 400;
 }

@mixin hfontplus {
    font-family: $fontfamily;
    font-size:34px ;
    line-height:47.5px;
    letter-spacing: 0%;
    font-weight:400 ;
}

@mixin h4font {
    font-family: $fontfamily;
    font-size:1.5rem ;
    line-height:16px;
    letter-spacing:1%;
    font-weight: 600;
}

@mixin h5font {
    font-family: $fontfamily;
    font-size:22x ;
    line-height:40px;
    letter-spacing: 0%;
    font-weight: bold;
}

@mixin h6font {
    font-family: $fontfamily;
    font-size:20x ;
    line-height:16px;
    letter-spacing: 1%;
    font-weight: 500;
}
@mixin pfont {
    font-family: $fontfamily;
    font-size:22x ;
    line-height:40px;
    letter-spacing: 1%;
    font-weight: 400;
    font-style: normal;
    
}
@mixin mutedtext{
    font-family: $fontfamily;
    font-size:20x ;
    line-height:20px;
    letter-spacing:0%;
    font-weight: 400;
}

@mixin mutedtext{
    font-family: $fontfamily;
    font-size:20x ;
    line-height:20px;
    letter-spacing:0%;
    font-weight: 600;
}
@mixin mutedtext{
    font-family: $fontfamily;
    font-size:20x ;
    line-height:20px;
    letter-spacing:0%;
    font-weight: 400;
    font-style: italic;
}

@mixin btntext{
    font-family: $fontfamily;
    font-size:19px ;
    line-height:25px;
    letter-spacing:0%;
    font-weight: bold;
    
}